@page "/"

<PageTitle>Gists List</PageTitle>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Username" @bind-value="User">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="GetGist">Search</button>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <span class="header">Avatar</span>
    </div>
    <div class="col-1">
        <span class="header">Owner</span>
    </div>
    <div class="col-5">
        <span class="header">Description</span>
    </div>
    <div class="col-2">
        <span class="header">Creation Date</span>
    </div>
    <div class="col-2">
        <span class="header">Last update</span>
    </div>
    <div class="col-1">
    </div>
</div>
@foreach(var gist in GistsList)
{
    <div class="row" style="margin-top: 1%;">
        <div class="col-1">
            <img class="icon" src="@gist.owner.avatar_url" alt="User avatar"/>
        </div>
        <div class="col-1">
            @gist.owner.login
        </div>
        <div class="col-5">
            @gist.description
        </div>
        <div class="col-2">
            @gist.created_at.ToString("dd/MM/yyyy HH:mm")
        </div>
        <div class="col-2">
            @gist.updated_at.ToString("dd/MM/yyyy HH:mm")
        </div>
        <div class="col-1">
            <button class="button" @onclick="args => ShowGistFile(gist)"><span class="oi oi-file" aria-hidden="true"></span></button>
        </div>
        @if (gist.ShowFiles)
        {
            <div style="margin-left: 3vw;">
                <div class="gist_files">
                    @foreach (var file in gist.FileList)
                    {
                        <div class="gist_file">
                            <p class="badge bg-secondary p_span">@file.language</p>
                            <p style="text-align: center;">@file.filename</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}